html {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #e2e2e2;
}

body {
    background-color: #005fe6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    padding: 20px;
    height: 100px;
}

a, a:visited {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

input, button {
    outline: none;
    -webkit-appearance: none;
}

.main-section {
    margin: auto;
    width: 100%;
}

.site-title {
    margin-bottom: 25px;
    font-size: 56px;
    text-align: center;
}

.site-title a {
    font-weight: 400;
    text-decoration: none;
}

.search-form {
    display: flex;
    background-color: white;
    width: 640px;
    margin: 0 auto;
}

.search-button {
    background-color: white;
    width: 40px;
    border: none;
}

.search-input {
    height: 36px;
    font-size: 18px;
    color: #939393;
    background-color: transparent;
    border: none;
    flex: 1;
    padding: 5px;
}

.subtitle {
    text-align: center;
    margin-top: 35px;
    padding: 0 20px;
    font-weight: 400;
    line-height: 20px;
}

.subtitle a {
    font-weight: 500;
}

.signature {
    text-align: center;
    margin-bottom: 10px;
    flex: 1;
}

.share {
    flex: 1;
    text-align: center;
}

.share-link {
    display: inline;
    margin-left: 10px;
}

.footer-section {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@media (max-width: 960px) {

}

@media (max-width: 720px) {
    .search-form {
        width: 80%;
    }
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}