{% extends 'base.html' %}
{% block page %}
    <main class="home">
        <div class="container">
            <h1 class="logo"><a href="/">moocha</a></h1>
            <form class="search" action="{{ url_for('search') }}" method="get">
                    <input name="query" placeholder="Search" type="search" required>
                    <button type="submit">{% include 'icon.html' %}</button>
            </form>
            <h3 class="slogan">Search online courses from <a href="/search?platform=edX">edX</a>, <a href="/search?platform=Coursera">Coursera</a>, <a href="/search?platform=Udacity">Udacity</a>, & more</h3>
        </div>
    </main>
    <footer class="home">
        <p class="contact">Made by <a href="mailto:matthackstheworld@gmail.com">Matt Evenson</a></p>
    </footer>
{% endblock %}
